@import "./mixinAndVariable.scss";

//reset rules
body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
    color: #000;
  }
}

//common component classes
.main-content-wrapper {
  width: 100%;
  position: relative;
  margin: auto;
  z-index: 5;
  box-sizing: border-box;
  @media screen and (min-width: 1200px) {
    padding-left: 80px;
  }
}

.container {
  max-width: 1200px;
  width: 92%;
  margin: 180px auto;
  position: relative;
}

.button {
  position: relative;
  width: fit-content;
  margin-top: 30px;
  padding: 15px 30px;
  background: $unique;
  color: #fff;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 4px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  text-transform: uppercase;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 20px;
    height: 1px;
    width: 0;
    background: #fff;
    transition: all 200ms linear;
  }
  &:hover {
    padding-left: 60px;
    &::before {
      width: 30px;
    }
  }
}

.scroll-button {
  padding: 8px 20px;
  cursor: pointer;
  width: fit-content;
  margin-bottom: 30px;
  transition: all 0.2s linear;
  position: relative;
  &::before {
    content: "";
    width: 0;
    background: #fff;
    height: 1px;
    position: absolute;
    top: 50%;
    transition: all 0.2s linear;
    left: 10px;
  }
  &:hover {
    background: #222 !important;
    color: #fff;
    padding-left: 50px;
    &::before {
      width: 30px;
    }
  }
}

.project-title {
  text-transform: uppercase;
  font-size: 5vw;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    font-size: 40px;
  }
}

.project-overview {
  font-size: 25px;
  line-height: 37px;
  font-weight: 600;
  position: relative;
  width: fit-content;
  text-transform: uppercase;
  margin-bottom: 40px;

  &::after {
    content: "";
    height: 5px;
    width: 50px;
    position: absolute;
    left: 0;
    bottom: -4px;
  }
}

.project-overview-description {
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 30px;
}

.project-sub-title {
  text-align: center;
  font-size: 32px;
  line-height: 50px;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.project-sub-description {
  line-height: 30px;
}

.text-center {
  text-align: center;
}

.text-wrap-80 {
  width: 80%;
  margin: auto;
}

.md-50 {
  width: 100%;
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin-bottom: unset;
    width: 50%;
    flex: 0 0 50%;
  }
}
.md-40 {
  width: 100%;
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    width: 40%;
    flex: 0 0 40%;
  }
}

.mt-50 {
  margin-top: 50px;
}

.mt-100 {
  margin-top: 100px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.justify-even {
  justify-content: space-evenly;
}

.justify-around {
  justify-content: space-around;
}

.blur-bg-text {
  position: absolute;
  top: -95px;
  right: 10%;
  opacity: 0.15;
  text-align: right;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 800;
  @media screen and (min-width: 992px) {
    top: 50px;
    font-size: 150px;
    color: #ccc;
  }
}

.unique-color {
  color: $unique;
}

.halfwhite-color {
  color: $halfWhite !important;
}

.w-100 {
  width: 100%;
}

.w-95 {
  width: 95%;
}

.w-90 {
  width: 90%;
}

.w-85 {
  width: 85%;
}

.w-80 {
  width: 80%;
}

.w-75 {
  width: 75%;
}

.w-70 {
  width: 70%;
}
