//variables
$navBarBg: #151515;
$mainBg: #222;
$unique: #ea793c;
$halfWhite: rgba(#fff, 0.5);

//mixins
@mixin horizontalCenter() {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@mixin verticalCenter() {
  top: 50%;
  transform: translateY(-50%);
}
