.bokacha-website {
  .project-overview {
    &::after {
      background: #0d5b45;
    }
  }
  img {
    width: 100%;
  }
  .section-with-bg {
    background: #f9f9f9;
    width: 108%;
    margin-left: -4%;
    margin-top: 150px;
    padding: 80px 5%;
    box-sizing: border-box;
  }
}
